.portfolio__items {
  width: 100%;
  list-style-type: none;
  margin: 54px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(267px, 1fr));
  grid-auto-rows: minmax(267px, 304px);
  gap: 16px;
}

@media (max-width: 933px) {
  .portfolio__items {
    grid-template-columns: repeat(2, minmax(267px, 1fr));
  }
}

@media (max-width: 655px) {
  .portfolio__items {
    grid-template-columns: minmax(267px, 1fr);
    grid-auto-rows: 267px;
    row-gap: 35px;
    margin: 44px 0 0;
  }
}

@media (max-width: 450px) {
  .portfolio__items {
    margin-top: 35px;
  }
}
