.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 458px;
  padding: 47px 39px 61px;
  border-radius: 5px;
  box-shadow: -5px 5px 0px #FFC41D;
}

@media (max-width: 440px) {
  .form {
    max-width: 100%;
    padding: 38px 22px 48px;
  }
}
