.hero__frame {
  display: flex;
  max-width: 384px;
  max-height: 384px;
  border-radius: 50%;
  overflow: hidden;
  border: 11px solid #fff;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .hero__frame {
    max-width: 280px;
    border: 8px solid #fff;
  }
}

@media (max-width: 440px) {
  .hero__frame {
    max-width: 113px;
    border: 3px solid #fff;
  }
}

