.features__text {
  margin: 17px 0 0;
  padding-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

@media (max-width: 655px) {
  .features__text {
    margin: 12px 0 0;
  }
}

@media (max-width: 450px) {
  .features__text {
    margin: 6px 0 0;
    font-size: 14px;
  }
}
