.portfolio__button {
  margin: 12px 0 0 30px;
  max-width: 120px;
  min-height: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  color: #FFFFFF;
  background-color: #EC1F46;
  box-shadow: 0px 2px 0px #CE1C3E;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 25px;
  transition: .3s;
  cursor: pointer;
}

.portfolio__button:hover {
  background-color: #cf1d3e;
}

@media (max-width: 650px) {
  .portfolio__button {
    margin: 22px 0 0 24px;
    padding: 8px 21px;
  }
}
