.contacts__block {
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 50px;
  list-style: none;
  margin: 0 0 32px;
  padding: 0;
}

@media (max-width: 351px) {
  .contacts__block {
    margin-bottom: 35px;
  }
}
